$default-font: "muli", sans-serif
$accent: orange

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1401px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1200px, xxl: 1401px)

$gutter: $grid-gutter-width

$color-1: #ffcc00
$color-2: #f2c200
$color-light: #ffffff
$color-dark: #2b2d5c
$color-section: #f7f7fc
$color-dec-dark: #2b2d5c
$dec-color-1: #4d407c
$color-link: #595666
$color-link-2: #ffe066